<div class="allProduct">
   <div class="divCategory">
         <h1 class="categoryTitle"> Poissons</h1>
         <table class="myTable">
         <tr>
            <th *ngFor="let column of headers">
               {{column}}
            </th>
         </tr>
         <tr *ngFor="let product of poissons">
               <td>{{product.name}}</td>
               <td>{{product.price}} €</td>
               <td>{{product.discount}} €</td>
               <td>{{product.discountPercentage}} €</td>
               <td>{{product.quantityInStock}}</td>
               <td>{{product.comments}}</td>
         </tr>
         </table>
   </div> 
   <div class="divCategory">
         <h1 class="categoryTitle"> Coquillages</h1>
         <table class="myTable">
         <tr>
            <th *ngFor="let column of headers">
               {{column}}
            </th>
         </tr>
         <tr *ngFor="let product of coquillages">
               <td>{{product.name}}</td>
               <td>{{product.price}} €</td>
               <td>{{product.discount}} €</td>
               <td>{{product.discountPercentage}} €</td>
               <td>{{product.quantityInStock}}</td>
               <td>{{product.comments}}</td>
         </tr>
         </table>
   </div>
   <div class="divCategory">
      <h1 class="categoryTitle"> Crustaces</h1>
      <table class="myTable">
         <tr>
            <th *ngFor="let column of headers">
               {{column}}
            </th>
         </tr>
         <tr *ngFor="let product of crustaces">
               <td>{{product.name}}</td>
               <td>{{product.price}} €</td>
               <td>{{product.discount}} €</td>
               <td>{{product.discountPercentage}} €</td>
               <td>{{product.quantityInStock}}</td>
               <td>{{product.comments}}</td>
         </tr>
         </table>
   </div>  
</div>
