<div class="infosProduct">
    <div>
      <h1 class="titleDetail">Détail du produit au choix</h1>
      <p class="subtitleDetail">Veuillez saisir le produit dont vous voulez les informations</p>
      <select class="selectDetail" [(ngModel)]="myId" (change)="afficherOne(myId)">
         <option *ngFor="let item of products" [ngValue]="item.id" >{{item.name}}</option>
      </select>         
      <br>
    </div> 
    <div class="productDiv" *ngIf="product!==undefined">
         <p>
            Nom : {{product.name}}
         </p>
         <p>
            Prix : {{product.price}} €
         </p>
         <p>
            Prix en promotion : {{product.discount}} €
         </p>
         <p>
            Pourcentage de promotion : {{product.discountPercentage}} %
         </p>
         <input class="myPromoInput" id="input" (change)="redize(disc.value)" placeholder="Nouvelle promotion" #disc>
         <br>
         <br>
         <button class="myPromoButton" [disabled]="button" (click)="changeDiscount(disc.value, product.id)">Modifier promotion</button>
         <p>
            Quantité en stock : {{product.quantityInStock}}
         </p>
    </div>
</div>