<div id="infosProduct">
    <h1>Page d'affichage du produit</h1>
    <button class="recupData" (click)="afficherAll()">Tout les produits</button>
    <select [(ngModel)]="myId" matNativeControl required> <!-- (keyup.enter)="afficherOne(myId)" -->
      <option *ngFor="let item of products" [ngValue]="item.id">{{item.name}}</option>
    </select>
    <button class="recupData" (click)="afficherOne(myId)">Je veux ce produit</button>
    <div *ngIf="oneProduct==undefined">
      <table>
         <tr> 
            <th> Poissons </th>
         </tr>
         <tr>
            <th *ngFor="let column of headers">
               {{column}}
            </th>
         </tr>
         <tr *ngFor="let product of poissons">
               <td>{{product.name}}</td>
               <td>{{product.price}}</td>
               <td>{{product.discount}}</td>
               <td>{{product.discountPercentage}}</td>
               <td>{{product.quantityInStock}}</td>
               <td>{{product.comments}}</td>
         </tr>
      </table>

      <table>
         <tr> 
            <th> Coquillages </th>
         </tr>
         <tr>
            <th *ngFor="let column of headers">
               {{column}}
            </th>
         </tr>
         <tr *ngFor="let product of coquillages">
               <td>{{product.name}}</td>
               <td>{{product.price}}</td>
               <td>{{product.discount}}</td>
               <td>{{product.discountPercentage}}</td>
               <td>{{product.quantityInStock}}</td>
               <td>{{product.comments}}</td>
         </tr>
      </table>

      <table>
         <tr> 
            <th> Crustaces </th>
         </tr>
         <tr>
            <th *ngFor="let column of headers">
               {{column}}
            </th>
         </tr>
         <tr *ngFor="let product of crustaces">
               <td>{{product.name}}</td>
               <td>{{product.price}}</td>
               <td>{{product.discount}}</td>
               <td>{{product.discountPercentage}}</td>
               <td>{{product.quantityInStock}}</td>
               <td>{{product.comments}}</td>
         </tr>
      </table>
      
    </div>
    <div *ngIf="oneProduct!==undefined">
      <ul >
         <li>
            Nom : {{oneProduct.name}}
         </li>
         <li>
            Prix : {{oneProduct.price}}
         </li>
         <li>
            Prix en promotion : {{oneProduct.discount}}
         </li>
         <li>
            Pourcentage de promotion : {{oneProduct.discountPercentage}}
         </li>
         <li>
            Quantité en stock : {{oneProduct.quantityInStock}}
         </li>
         <li>
            Commentaires : {{oneProduct.comments}}
         </li>
      </ul>
    </div>
</div>