.biPage{
    text-align: center;
}

.titleBI{
    font-size: 40px;
}

.changeYear{
    margin: 2%;
    width: 6%;
    height: 3%;
    color: white;
    background-color: #2164ff;
    font-size: 20px;

}