ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #08083f;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #2164ff;
  }

.nav-img{
  width: 1em;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  padding: 14px 16px;
}
