<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/details">Detail Produit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Details de tous les produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage">Gestions de stock</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bi">Chiffres Clés</a>
      </li>
    </ul>
</nav>
<router-outlet></router-outlet>